@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Blogs Page";
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Blog Page</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-blog-content">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog1","Home")"><img alt="img" class="center-block" src="~/img/blogs/1.png" width="600" height="400"></a>
                                                <span class="aa-date-tag">17 August, 21</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog1","Home")">CIDCO to offer 4,488 homes for covid warriors, uniformed personnel</a></h3>
                                                <p>Under the scheme, a total of 4,488 houses will be made available by CIDCO in Taloja, Kalamboli, Kharghar, Ghansoli and Dronagiri nodes of Navi Mumbai, comprising 3,400 units for thos...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog2","Home")"><img alt="img" class="center-block" src="~/img/blogs/2.png" width="600" height="400"></a>
                                                <span class="aa-date-tag">16 August, 21</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog2","Home")">Free homes for families of 1,800 retired cops in Mumbai: Maharashtra housing minister</a></h3>
                                                <p>The redevelopment project in central Mumbai is slated to be done over next eight years. The government has promised 500-sq-ft free flats for the chawl tenants who currently live in 160-sq...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog3","Home")"><img alt="img" class="center-block" src="~/img/blogs/3.jpg" width="600" height="400"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog3","Home")">Chandigarh: Income Tax department shows interest in high-end flats at IT park</a></h3>
                                                <p>A senior CHB official said they had received a letter from the Income Tax department, seeking details related to flats, pricing and payment mode. He added that they would provide the detai...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog4","Home")"><img alt="img" src="~/img/blogs/4.jpg" class="center-block" width="600" height="400"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog4","Home")">SC allows auction of 9,600 unclaimed flats in Amrapali projects</a></h3>
                                                <p>The top court was informed that senior advocate R. Venkataramani, the court-appointed receiver, and the NBCC have made several joint efforts to reach out to all home buyers, to whom...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog5","Home")"><img alt="img" src="~/img/blogs/5.jpg" class="center-block" width="600" height="400"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog5","Home")">Jaipur: Lottery to allot houses for affected owners of Jhotwara road project</a></h3>
                                                <p>According to data, there are 657 structures, which will be affected. “The scheme for the affected owners will be developed on 26,051sqm land at a cost of Rs 6.5 crore. The lottery will be...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog6","Home")"><img alt="img" src="~/img/blogs/6.jpg" class="center-block" width="600" height="400"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog6","Home")">Punjab & Haryana governments, PGI yet to pay advance to CHB for high-end flats</a></h3>
                                                <p>A senior CHB official said they were in touch with all of them last year but nobody has submitted the 25% advance money. Although Punjab and PGI had given their affirmation, they have...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog7","Home")"><img alt="img" src="~/img/blogs/7.jpg" class="center-block" width="600" height="400"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog7","Home")">SWAMIH fund to invest Rs 100 crore in Imperia Group's project in Gurugram</a></h3>
                                                <p>The plan was launched in 2012 as a 1.2 million sq ft mid-segment residential project spread over 11 acres in Sector 37C, Gurugram. The Centre launched a SWAMIH fund to provide relief...</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="@Url.Action("Blog8","Home")"><img alt="img" src="~/img/blogs/8.jpg" class="center-block" width="600" height="400"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="@Url.Action("Blog8","Home")">Rajasthan CM lays foundation stone for residential flats for MLAs in Jaipur</a></h3>
                                                <p>Gehlot said that the MLA houses built in Vidhayak Nagar East, West and Jalupura were quite old and dilapidated, and therefore, the government approved the project.</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                    <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- Start blog sidebar -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->