@model dynamic
@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<!-- Start slider  -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img style="object-fit: cover; width: 100%" src="~/img/Homebanner3.jpg" alt="img">
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
<!-- End slider  -->
<!-- Advance Search -->
<section id="aa-advance-search">
    <div class="container">
        <div class="aa-advance-search-area">
            <div class="form">
                <div class="aa-advance-search-top">
                    <form asp-action="Properties" asp-controller="Home" method="get">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="aa-single-advance-search">
                                    <select name="category_id" asp-items="Model.categories">
                                        <option value="0" selected>Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-advance-search">
                                    <select name="method">
                                        <option value="" selected>Type</option>
                                        <option value="sell">Sell</option>
                                        <option value="buy">Buy</option>
                                        <option value="rent">Rent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-advance-search">
                                    <select name="customer_role">
                                        <option value="" selected>Agent/Private Seller</option>
                                        <option value="agent">Agent</option>
                                        <option value="private">Private Seller</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-advance-search">
                                    <input class="aa-search-btn" type="submit" value="Search">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Advance Search -->
<!-- About us -->
<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="~/img/aboutus1.jpg" alt="image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>About Us</h2>
                                    <span></span>
                                </div>
                                <p><b>Who are we?</b></p>
                                <p>Since 2010, Realtor Portal has been established in Ho Chi Minh city, Viet Nam. Realtors Portal as an online platform is a solution though by group of agents that will connect property owners and brokers to tenants and investors. The site should focus on all commercial and Residential real property categories including office space, Shops, commercial land, industrial property, House, Apartments, Villas and businesses for sale, rent and lease. This also feature premier real estate directory for real estate agents, property dealers, builders and potential buyers of property. Realtors portal helps to search property buy and sell property and also find useful information & resources to help users take wise and an informed decision about real estate </p>
                                <p><b>What services we offer?</b></p>
                                <p>At Realtor Portal, we provide easiest way to:</p>
                                <ul>
                                    <li>Finding house, apartment, office, land, space, etc.</li>
                                    <li>Buy, sale, rent properties</li>
                                    <li>Advertise, promote properties</li>
                                    <li>Contact, negotiate, make deals with your client</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / About us -->
<!-- Latest property -->
@if (Model.switchFeaturedAds == "enabled")
{
<div id="aa-lastest-property" style="background-color: #f8f8f8; display: inline; float: left; width: 100%; padding: 100px 0;">
    <div class="container">
        <div class="aa-latest-property-area">
            <div class="aa-title">
                <h2>Featured Properties</h2>
                <span></span>
            </div>
            <div class="aa-latest-properties-content">
                <div class="row">
                    @foreach (var item in Model.featuredProps)
                    {
                        <div class="col-md-4">
                            <article class="aa-properties-item">
                                <div style="width: 100%">
                                    <a href="/Home/Property/@item.Id" class="aa-properties-item-img">
                                        @if (item.Thumbnail_url != null)
                                        {
                                            <img style="object-fit: cover" width="370" height="220" src="~/@item.Thumbnail_url" alt="img">
                                        }
                                        else
                                        {
                                            <img src="img/item/1.jpg" alt="img">
                                        }
                                    </a>
                                </div>
                                <div class="aa-tag for-@item.Method">
                                    For @item.Method
                                </div>
                                <div class="aa-properties-item-content">
                                    <div class="aa-properties-info">
                                        @if (item.Features != null)
                                        {
                                            <span>5 Rooms</span>
                                            <span>2 Beds</span>
                                            <span>3 Baths</span>
                                            <span>1100 SQ FT</span>
                                        }
                                        else
                                        {
                                            <span>Features is updating!</span>
                                        }
                                    </div>
                                    <div class="aa-properties-about">
                                        <h3 style="height: 25px; font-size: 22px; overflow: hidden"><a href="/Home/Property/@item.Id">@item.Title</a></h3>
                                        <p style="height: 60px; overflow: hidden">@item.Introduction ...</p>
                                    </div>
                                    <div class="aa-properties-detial">
                                        <span class="aa-price">
                                            @Model.currency @item.Price
                                        </span>
                                        @Html.ActionLink("View Details", "Property", "Home", new { id = item.Id }, new { @class = "aa-secondary-btn" })
                                    </div>
                                </div>
                            </article>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}

<!-- / Latest property -->
<!-- Service section -->
<section id="aa-service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-service-area">
                    <div class="aa-title">
                        <h2>Our Service</h2>
                        <span></span>
                        <p>Services and facilities</p>
                    </div>
                    <!-- service content -->
                    <div class="aa-service-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-home"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4><a href="#">Property Sale</a></h4>
                                        <p>Real Estate For Sale:House For Sale,Garden Home For Sale,Land For Sale</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4><a href="#">Property Rent</a></h4>
                                        <p>
                                            Rental Property is Residential House, Land Rental, Apartment
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-crosshairs"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4><a href="#">Property Development</a></h4>
                                        <p>Property Development is Real Estate Development</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-bar-chart-o"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4><a href="#">Market Analysis</a></h4>
                                        <p>Market Analysis The goal of Data Analytics is to research and use new and sustainable factors to help businesses optimize other campaigns in the future.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Service section -->
<!-- Promo Banner Section -->
<section id="aa-promo-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-banner-area">
                    <h3>Find Your Best Property</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, ex illum corporis quibusdam numquam quisquam optio explicabo. Officiis odit quia odio dignissimos eius repellat id!</p>
                    @Html.ActionLink("View Properties", "Properties", "Home", new { /* id=item.PrimaryKey */ }, new { @class = "aa-view-btn" })
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo Banner Section -->
<!-- Our Agent Section-->
<section id="aa-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-agents-area">
                    <div class="aa-title">
                        <h2>Our Agents</h2>
                        <span></span>
                        <p>Agent means Agent Firm, Representative, Staff, Persons To Be Added To Act On behalf of Others.</p>
                    </div>
                    <!-- agents content -->
                    <div class="aa-agents-content">
                        <ul class="aa-agents-slider">
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/courtney-2020-dec-460x460.jpg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">COURTNEY POULOS</a></h4>
                                        <span>BROKER/OWNER</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/Andrew-Sanchez-acme-real-estate-los-angeles-460x460.jpg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">ANDREW SANCHEZ</a></h4>
                                        <span>Agent</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/Cari-Field-Arla-Headshot-1-MB-460x460.jpg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">CARI FIELD</a></h4>
                                        <span>Agent</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/silke-fernald-acme-real-estate-2020-460x460.jpeg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">SILKE FERNALD</a></h4>
                                        <span>BROKER ASSOCIATE</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/headshot-460x460.jpeg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">KRISTA CREWS</a></h4>
                                        <span>Agent</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/08.jpg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">ALLEN GAIDUCHIK</a></h4>
                                        <span>Agent</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/Nava_fav_1-460x460.jpg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">NAVA PLOTSKY</a></h4>
                                        <span>Agent</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/IMG_1585-460x460.jpg" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">SAM WADIEH</a></h4>
                                        <span>Agent</span>
                                        <div class="aa-agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Our Agent Section-->
<!-- Client Testimonial -->
<section id="aa-client-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-testimonial-area">
                    <div class="aa-title">
                        <h2>What Client Say</h2>
                        <span></span>
                    </div>
                    <!-- testimonial content -->
                    <div class="aa-testimonial-content">
                        <!-- testimonial slider -->
                        <ul class="aa-testimonial-slider">
                            <li>
                                <div class="aa-testimonial-single">
                                    <div class="aa-testimonial-img">
                                        <img src="~/img/user-lisa-evans-80x80.jpg" alt="testimonial img">
                                    </div>
                                    <div class="aa-testimonial-info">
                                        <p>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</p>
                                    </div>
                                    <div class="aa-testimonial-bio">
                                        <p> Lisa Evans</p>
                                        <span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-testimonial-single">
                                    <div class="aa-testimonial-img">
                                        <img src="~/img/user-nicholas-lane-80x80.jpg" alt="testimonial img">
                                    </div>
                                    <div class="aa-testimonial-info">
                                        <p>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</p>
                                    </div>
                                    <div class="aa-testimonial-bio">
                                        <p>Nicholas Lane</p>
                                        <span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-testimonial-single">
                                    <div class="aa-testimonial-img">
                                        <img src="~/img/user-ethan-dean-80x80.jpg" alt="testimonial img">
                                    </div>
                                    <div class="aa-testimonial-info">
                                        <p>
                                            Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever. Thank you a thousand times.
                                        </p>
                                    </div>
                                    <div class="aa-testimonial-bio">
                                        <p>Ethan Dean</p>
                                        <span>Web Designer</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Testimonial -->
