@model dynamic
@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Property Page";
}
<!-- Start Proerty header  -->

<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Details</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">@Model.currentProp.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Properties  -->
<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <!-- Start properties content body -->
                    <div class="aa-properties-details">
                        @if (Model.images.Count > 0)
                        {
                            <div class="aa-properties-details-img">
                                @foreach (var item in Model.images)
                                {
                                    <img width="750" height="500" style="height: none; object-fit: cover" src="~/@item.Url" alt="img">
                                }
                            </div>
                        }
                        <div class="aa-properties-info">
                            <h2>@Model.currentProp.Title</h2>
                            <h4>@Model.currentProp.Country.Name, @Model.currentProp.Region.Name, @Model.currentProp.City.Name, @Model.currentProp.Area.Name</h4>
                            <span class="aa-price">$@Model.currentProp.Price - <span style="text-transform: uppercase">@Model.currentProp.Method</span></span>
                            <div>
                                @Html.Raw(@Model.currentProp.Description)
                            </div>
                            <h4>Propery Features</h4>
                            <ul>
                                <li>4 Bedroom</li>
                                <li>3 Baths</li>
                                <li>Kitchen</li>
                                <li>Air Condition</li>
                                <li>Belcony</li>
                                <li>Gym</li>
                                <li>Garden</li>
                                <li>CCTV</li>
                                <li>Children Play Ground</li>
                                <li>Comunity Center</li>
                                <li>Security System</li>
                            </ul>
                            <h4>Property Thumbnail</h4>
                            <img src="~/@Model.currentProp.Thumbnail_url" style="width: 100%" alt="Alternate Text" />
                        </div>
                        <!-- Properties social share -->
                        <div class="aa-properties-social">
                            <ul>
                                <li>Share</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <!-- Nearby properties -->
                        <div class="aa-nearby-properties">
                            <div class="aa-title">
                                <h2>Property Contact</h2>
                                <span></span>
                            </div>
                            <div class="aa-nearby-properties-area">
                                <div class="row">
                                    <div class="col-md-6">
                                        <article class="aa-properties-item">
                                            <a class="aa-properties-item-img" href="#">
                                                <img alt="img" src="~/img/item/1.jpg">
                                            </a>
                                            <div class="aa-tag for-sale">
                                                For Sale
                                            </div>
                                            <div class="aa-properties-item-content">
                                                <div class="aa-properties-info">
                                                    <span>5 Rooms</span>
                                                    <span>2 Beds</span>
                                                    <span>3 Baths</span>
                                                    <span>1100 SQ FT</span>
                                                </div>
                                                <div class="aa-properties-about">
                                                    <h3><a href="#">Appartment Title</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                                                </div>
                                                <div class="aa-properties-detial">
                                                    <span class="aa-price">
                                                        $35000
                                                    </span>
                                                    <a class="aa-secondary-btn" href="#">View Details</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6">
                                        <article class="aa-properties-item">
                                            <a class="aa-properties-item-img" href="#">
                                                <img alt="img" src="~/img/item/2.jpg">
                                            </a>
                                            <div class="aa-tag for-sale">
                                                For Sale
                                            </div>
                                            <div class="aa-properties-item-content">
                                                <div class="aa-properties-info">
                                                    <span>5 Rooms</span>
                                                    <span>2 Beds</span>
                                                    <span>3 Baths</span>
                                                    <span>1100 SQ FT</span>
                                                </div>
                                                <div class="aa-properties-about">
                                                    <h3><a href="#">Appartment Title</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>
                                                </div>
                                                <div class="aa-properties-detial">
                                                    <span class="aa-price">
                                                        $35000
                                                    </span>
                                                    <a class="aa-secondary-btn" href="#">View Details</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Start properties sidebar -->
            <div class="col-md-4">
                <aside class="aa-properties-sidebar">
                    <!-- Start Single properties sidebar -->
                    <div class="aa-properties-single-sidebar">
                        <h3>Featured Properties</h3>
                        @foreach (var item in Model.featuredProps)
                        {
                            <div class="media">
                                <div class="media-left">
                                    <a href="/Home/Property/@item.Id">
                                        @if (item.Thumbnail_url != null)
                                        {
                                            <img class="media-object" width="370" height="220" src="~/@item.Thumbnail_url" alt="img">
                                        }
                                        else
                                        {
                                            <img class="media-object" src="~/img/item/1.jpg" alt="img">
                                        }
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 style="height: 20px; overflow: hidden" class="media-heading"><a href="#">@item.Title</a></h4>
                                    <p style="height: 34px; overflow: hidden">@item.Description</p>
                                    <span>$@item.Price</span>
                                </div>
                            </div>
                        }
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- / Properties  -->