@model src.Models.PropertiesPagingModel
@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Properties Page";
}
<!-- Start Proerty header  -->

<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Properties Page</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">PROPERTIES</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<!-- Start Properties  -->
<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <!-- start properties content head -->
                    <div class="aa-properties-content-head">
                        <div class="aa-properties-content-head-left">
                        </div>
                        <div class="aa-properties-content-head-right">
                            <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                            <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <!-- Start properties content body -->
                    @await Html.PartialAsync("ListProperties", Model.PagingProperies)
                    <!-- Start properties content bottom -->
                    
                </div>
            </div>
            <!-- Start properties sidebar -->
            <div class="col-md-4">
                <aside class="aa-properties-sidebar">
                    <!-- Start Single properties sidebar -->
                    <div class="aa-properties-single-sidebar">
                        <h3>Properties Filter</h3>
                        <form asp-action="Properties" asp-controller="Home" method="get">
                            <div class="aa-single-advance-search">
                                <input type="text" value="@ViewBag.key" name="key" placeholder="Type Your Title">
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="number" value="@ViewBag.min_price" name="min_price" placeholder="Type Min Price">
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="number" value="@ViewBag.max_price" name="max_price" placeholder="Type Max Price">
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="hidden" class="group-filter" data-ele="category-select" value="@ViewBag.category_id" />
                                <select id="category-select" name="category_id" asp-items="Model.Categories">
                                    <option value="0">Category</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="hidden" class="group-filter" data-ele="method-select" value="@ViewBag.method" />
                                <select id="method-select" name="method">
                                    <option value="">Type</option>
                                    <option value="sell">Sell</option>
                                    <option value="buy">Buy</option>
                                    <option value="rent">Rent</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="hidden" class="group-filter" data-ele="role-select" value="@ViewBag.customer_role" />
                                <select id="role-select" name="customer_role">
                                    <option value="">Agent/Private Seller</option>
                                    <option value="agent">Agent</option>
                                    <option value="private">Private Seller</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <select id="CountryId" name="country_id" asp-items="Model.Countries">
                                    <option value="0">Countries</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <select id="RegionId" name="region_id">
                                    <option value="0">Region</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <select id="CityId" name="city_id">
                                    <option value="0">City</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <select id="AreaId" name="area_id">
                                    <option value="0">Area</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="hidden" class="group-filter" data-ele="sortby-select" value="@ViewBag.sort_by" />
                                <select id="sortby-select" name="sort_by">
                                    <option value="date-desc">Sort By</option>
                                    <option value="date-desc">Sort By: Date Descending</option>
                                    <option value="date-asc">Sort By: Date Ascending</option>
                                    <option value="name-desc">Sort By: Name Descending</option>
                                    <option value="name-asc">Sort By: Name Ascending</option>
                                    <option value="price-desc">Sort By: Price Descending</option>
                                    <option value="price-asc">Sort By: Price Ascending</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="hidden" class="group-filter" data-ele="limit-select" value="@ViewBag.limit" />
                                <select id="limit-select" name="limit">
                                    <option value="6">Show</option>
                                    <option value="6">Limit: 6</option>
                                    <option value="12">Limit: 12</option>
                                    <option value="24">Limit: 24</option>
                                </select>
                            </div>
                            <div class="aa-single-advance-search">
                                <input type="submit" value="Filter" class="aa-search-btn">
                                @Html.ActionLink("Reset", "Properties", "Home", new { }, new { @class = "aa-search-btn btn-reset" })
                            </div>
                        </form>
                    </div>
                    @if (ViewBag.switchFeaturedAds == "enabled")
                    {
                        <!-- Start Single properties sidebar -->
                        <div class="aa-properties-single-sidebar">
                            <h3>Featured Properties</h3>
                            @foreach (var item in Model.FeaturedProperties)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="/Home/Property/@item.Id">
                                            @if (item.Thumbnail_url != null)
                                            {
                                                <img class="media-object" width="370" height="220" src="~/@item.Thumbnail_url" alt="img">
                                            }
                                            else
                                            {
                                                <img class="media-object" src="~/img/item/1.jpg" alt="img">
                                            }
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 style="height: 20px; overflow: hidden" class="media-heading"><a href="#">@item.Title</a></h4>
                                        <p style="height: 34px; overflow: hidden">@item.Description</p>
                                        <span>$@item.Price</span>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </aside>
            </div>
        </div>
    </div>
</section>
<!-- / Properties  -->

@section scripts {
    <script>
        $(document).ready(function () {
            $('.group-filter').each(function (idx, ele) {
                var val = $(ele).val()
                var ele = $(ele).data("ele")
               
                if (val != '' || val === 0) {
                    var selected = $("#" + ele + " option[value = " + val + "]")
                    console.log(selected)
                    selected.attr("selected", "selected");
                }
                
            })
            $("#CountryId").change(function () {
                var countryId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Home/GetRegions?id=" + countryId,
                    contentType: "html",
                    success: function (res) {
                        console.log(res)
                        $("#RegionId").empty();
                        $("#CityId").empty();
                        $("#AreaId").empty();
                        $("#RegionId").append(res);
                    }
                })
            })

            $("#RegionId").change(function () {
                var regionId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Home/GetCities?id=" + regionId,
                    contentType: "html",
                    success: function (res) {
                        $("#CityId").empty();
                        $("#AreaId").empty();
                        $("#CityId").append(res);
                    }
                })
            })

            $("#CityId").change(function () {
                var cityId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Home/GetAreas?id=" + cityId,
                    contentType: "html",
                    success: function (res) {
                        $("#AreaId").empty();
                        $("#AreaId").append(res);
                    }
                })
            })
        })
    </script>
}