@model IEnumerable<src.Models.PaymentPackage>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Notification";
}

@await Html.PartialAsync("_Banner")
<!--content-->
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            @if (ViewBag.Msg != null)
            {
                <h3>@ViewBag.Msg</h3>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Transaction_id)
                        </th>
                        <th>
                            Payment Price
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Used Ads
                        </th>
                        <th>
                            Used Featured Ads
                        </th>
                        <th>
                            Package
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Transaction_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment_price)
                            </td>
                            <td>
                                @if (item.Status == src.Models.PaymentPackage.EXPIRED_STATUS)
                                {
                                    <span>Expired</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Used_ads)/@Html.DisplayFor(modelItem => item.Limit_ads)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Used_featured_ads)/@Html.DisplayFor(modelItem => item.Limit_featured_ads)
                            </td>
                            <td>
                                @item.Package.Name
                            </td>
                            <td>
                                @item.Customer.Email
                            </td>
                            <td>
                                @Html.ActionLink("Send", "Send", "Notifications", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->

