@model dynamic
@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Customer Page";
}
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Customer</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">Customer</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<div class="clearfix"></div>
<div style="margin-top: 20px">
    <div class="container">
        <div class="row">
            @{
                if (ViewBag.error != null)
                {
                    <div class="error-blog">
                        <h1>@ViewBag.error</h1>
                    </div>
                }
                if (TempData.Peek("Message") != null)
                {
                    <div class="error-blog">
                        <h3>Message: @TempData.Peek("Message")</h3>
                    </div>
                }
            }
            <div class="col-md-3">
                <a style="text-decoration: none" asp-controller="Customer" asp-action="Profile">
                    <button type="button" class="btn btn-danger btn-block btn-lg">
                        <span class="fa fa-user"></span> Profile
                    </button>
                </a>
            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" asp-controller="Customer" asp-action="Create">
                    <button type="button" class="btn btn-primary btn-block btn-lg">
                        <span class="fa fa-home"></span> Create Normal Ads
                    </button>
                </a>
            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" asp-controller="Customer" asp-action="CreateFeatured">
                    <button type="button" class="btn btn-success btn-block btn-lg">
                        <span class="fa fa-home"></span> Create Featured Ads
                    </button>
                </a>
            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" asp-controller="Customer" asp-action="Package">
                    <button type="button" class="btn btn-warning btn-block btn-lg">
                        <span class="fa fa-archive"></span> Package
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <marquee><h3>Welcome back, @Model.Customer.Name!</h3></marquee>
        </div>

        <div class="row">
            <h1>Contact Infomation</h1>
        </div>
        <div class="row">
            <div class="col-md-12 wrapper-custom" style="margin: 0px">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>You are @Model.Customer.Type</td>
                        </tr>
                        <tr>
                            @if (Model.Customer.Has_contact_form)
                            {
                                <td>You are using contact form for viewer</td>
                            }
                            else
                            {
                                <td>Your contact information is @Model.Customer.Email</td>
                            }
                        </tr>
                        @if (Model.Customer.Type == "agent")
                        {
                            @if (Model.Customer.Has_contact_form)
                            {
                                <tr>
                                    <td>@Html.ActionLink("Use Email for contact", "Profile", "Customer", null, new { @class = "btn btn-primary"})</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.ActionLink("Enable contact form", "Profile", "Customer", null, new { @class = "btn btn-primary" })</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h1>List Packages</h1>
        </div>
        <div class="row">
            <div class="col-md-12 wrapper-custom" style="margin: 0px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Package Name
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Used
                            </th>
                            <th>
                                Featured Used
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PaymentPackages)
                        {
                            <tr>
                                <td>
                                    @item.PackageName
                                </td>
                                @if (item.Status == PaymentPackage.APPROVED_STATUS)
                                {
                                    <td><span class="label label-success">Approved</span></td>
                                }
                                @if (item.Status == PaymentPackage.EXPIRED_STATUS)
                                {
                                    <td><span class="label label-danger">Expired</span></td>
                                }
                                @if (item.Status == PaymentPackage.PENDING_STATUS)
                                {
                                    <td><span class="label label-warning">Pending</span></td>
                                }

                                <td>
                                    @item.Used_ads/@item.Limit_ads
                                </td>
                                <td>
                                    @item.Used_featured_ads/@item.Limit_featured_ads
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h1>List Properties</h1>
        </div>
        <div class="row">
            <div class="col-md-12 wrapper-custom" style="margin: 0px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Property Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Is Featured
                            </th>
                            <th>
                                Is Active
                            </th>
                            <th>
                                Actions
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Properties)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Created_at
                                </td>
                                <td>
                                    @item.Ended_at
                                </td>
                                @if (item.Is_featured)
                                {
                                    <td><span class="label label-success">@item.Is_featured</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@item.Is_featured</span></td>
                                }
                                @if (item.Is_active)
                                {
                                    <td><span class="label label-success">@item.Is_active</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@item.Is_active</span></td>
                                }
                            <td>
                                <a asp-action="Edit" asp-controller="Customer" class="label label-primary" asp-route-id="@item.Id">Details</a> 
                                <a asp-action="Gallary" asp-controller="Customer" class="label label-success" asp-route-id="@item.Id">Gallary</a> 
                                <a asp-action="Delete" asp-controller="Customer" class="label label-danger" onclick="return confirm('Do you really want delete the property ?')" asp-route-id="@item.Id">Delete</a> 
                                @if (Model.Customer.Has_contact_form)
                                {
                                    <a asp-action="Comments" asp-controller="Customer" class="label label-warning" asp-route-id="@item.Id">Comments</a>
                                }
                                @if (item.Is_active)
                                {
                                    @Html.ActionLink("View", "Property", "Home", new {id = item.Id}, new {@class = "label label-default"})
                                }
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
</div>
