@model IEnumerable<src.Models.Package>
@{
    Layout = "~/Views/Shared/_RealtorsPortalLayout.cshtml";
    ViewData["Title"] = "Profile Page";
}
}
<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Packages</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">Customer</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->
<div class="clearfix"></div>
<div style="margin-top: 20px">
    
    <div class="container">
        <div class="row">@Html.ActionLink("Back", "Index", "Customer", null, new { @class = "btn btn-danger" })</div>
        <div class="row">
            @{
                if (ViewBag.error != null)
                {
                    <div class="error-blog">
                        <h1>@ViewBag.error</h1>
                    </div>
                }
                if (TempData.Peek("Message") != null)
                {
                    <div class="error-blog">
                        <h3>Message: @TempData.Peek("Message")</h3>
                    </div>
                }
            }

            @foreach (var item in Model)
            {
                <div class="card col-md-4">
                    <div class="wrapper-custom" style="text-align: center">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@item.Name</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">VND @item.Price</h1>
                            <ul class="list-unstyled" style="margin: 5px">
                                <li>Limit Ads: @item.Limit_ads</li>
                                <li>Limit Featured Ads: @item.Limit_featured_ads</li>
                            </ul>
                            @Html.ActionLink("Purchase", "Payment", "Customer", new { name = item.Name }, new { @class = "btn btn-lg btn-block btn-dark" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
</div>
