@model PaginatedList<src.Models.Property>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Property";
}

@await Html.PartialAsync("_Banner")
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            <p>
                @Html.ActionLink("Create", "Create", "Properties", null, new { @class = "btn btn-primary" })
            </p>
            <br />
        </div>
    </div>
    
    <div class="col-md-12">
        <div style="background: #fff; padding: 5px">
            <form asp-action="Index" asp-controller="Properties" method="get">
                <input type="hidden" name="page" value="1">
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-md-12">
                        <input type="text" name="keywords" class="form-control" placeholder="Title">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">

                    <div class="col-md-4">
                        <select class="form-control" name="category_id" asp-items="@ViewBag.Categories">
                            <option value="">Category</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="area_id" asp-items="@ViewBag.Areas">
                            <option value="">Area</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="status">
                            <option value="">Status</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Filter" class="form-control" style="background-color: lightgreen;">
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <div style="background: #fff">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Title
                        <th>
                            Method
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Featured
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Ended At
                        </th>
                        <th>
                            Area Name
                        </th>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Method)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_featured)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ended_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example" style="margin-left: 10px">
                <ul class="pagination">
                    @if (Model.PreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-status="@ViewBag.status"
                               asp-route-categoryId="@ViewBag.categoryId"
                               asp-route-areaId="@ViewBag.areaId"
                               asp-route-keywords="@ViewBag.keywords"
                            >
                                Previous
                            </a>
                        </li>
                    }
                    @if (Model.NextPage)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-status="@ViewBag.status"
                               asp-route-categoryId="@ViewBag.categoryId"
                               asp-route-areaId="@ViewBag.areaId"
                               asp-route-keywords="@ViewBag.keywords"
                            >
                                Next
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

