@model IEnumerable<src.Models.PaymentPackage>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Notification Email
</h1>
@if (ViewBag.Msg)
{
    <h3>@ViewBag.Msg</h3>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_id)
            </th>
            <th>
                Payment Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Used Ads
            </th>
            <th>
                Used Featured Ads
            </th>
            <th>
                Package
            </th>
            <th>
                Customer
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_price)
            </td>
            <td>
                @if (item.Status == PaymentPackage.EXPIRED_STATUS)
                {
                    <span>Expired</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used_ads)/@Html.DisplayFor(modelItem => item.Limit_ads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used_featured_ads)/@Html.DisplayFor(modelItem => item.Limit_featured_ads)
            </td>
            <td>
                @item.Package.Name
            </td>
            <td>
                @item.Customer.Email
            </td>
            <td>
                @Html.ActionLink("Send Email", "Send", "Notifications", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
