@model src.Models.PaymentPackage

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Payment Transaction Details";
}

@await Html.PartialAsync("_Banner")

<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @if (Model.Status == src.Models.PaymentPackage.APPROVED_STATUS)
                    {
                        <span>Approved</span>
                    }
                    @if (Model.Status == src.Models.PaymentPackage.EXPIRED_STATUS)
                    {
                        <span>Expired</span>
                    }
                    @if (Model.Status == src.Models.PaymentPackage.PENDING_STATUS)
                    {
                        <span>Pending</span>
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Transaction_id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Transaction_id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Payment_price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Payment_price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Used_ads)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Used_ads)/@Html.DisplayFor(model => model.Limit_ads)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Used_featured_ads)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Used_featured_ads)/@Html.DisplayFor(model => model.Limit_featured_ads)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Created_at)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Created_at)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Updated_at)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Updated_at)
                </dd>
                <dt>
                    Customer
                </dt>
                <dd>
                    @Model.Customer.Email
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PackageName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PackageName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
