@model IEnumerable<src.Models.PaymentPackage>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Payment Transactions";
}

@await Html.PartialAsync("_Banner")
<!--content-->
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-5">
                        <input type="datetime-local" name="startdate" class="form-control" placeholder="Start Date">
                    </div>
                    <div class="col-md-5">
                        <input type="datetime-local" name="enddate" class="form-control" placeholder="End Date">
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Filter" class="form-control" style="background-color: lightgreen;">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div style="background: #fff">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Package
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Used ads
                        </th>
                        <th>
                            Used featured ads
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Package.Name
                            </td>
                            <td>
                                @item.Customer.Email
                            </td>
                            <td>
                                @item.Package.Price
                            </td>
                            <td>
                                @if (item.Status == src.Models.PaymentPackage.APPROVED_STATUS)
                                {
                                    <span>Approved</span>
                                }
                                @if (item.Status == src.Models.PaymentPackage.EXPIRED_STATUS)
                                {
                                    <span>Expired</span>
                                }
                                @if (item.Status == src.Models.PaymentPackage.PENDING_STATUS)
                                {
                                    <span>Pending</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Used_ads)/@Html.DisplayFor(modelItem => item.Limit_ads)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Used_featured_ads)/@Html.DisplayFor(modelItem => item.Limit_featured_ads)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Paymenttransactions", new { area = "Admin", id = item.Id })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
