@model PaginatedList<src.Models.Area>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_Banner")
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            <p>
                @Html.ActionLink("Create", "Create", "Areas", null, new { @class = "btn btn-primary" })
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            City
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.city.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Html.PartialAsync("_PagingSection", Model)
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

