@model IEnumerable<src.Models.PaymentPackage>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Payment Transaction History
</h1>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-5">
            <input type="datetime-local" name="startdate" class="form-control" placeholder="Start Date">
        </div>
        <div class="col-md-5">
            <input type="datetime-local" name="enddate" class="form-control" placeholder="End Date">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Filter" class="form-control" style="background-color: lightgreen;">
        </div>
    </div>
}

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Package
            </th>
            <th>
                Customer
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Used ads
            </th>
            <th>
                Used featured ads
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Package.Name
            </td>
            <td>
                @item.Customer.Email
            </td>
            <td>
                @item.Package.Price
            </td>
            <td>
                @if (item.Status == PaymentPackage.APPROVED_STATUS)
                {
                    <span>Approved</span>
                }
                @if (item.Status == PaymentPackage.EXPIRED_STATUS)
                {
                    <span>Expired</span>
                }
                @if (item.Status == PaymentPackage.PENDING_STATUS)
                {
                    <span>Pending</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used_ads)/@Html.DisplayFor(modelItem => item.Limit_ads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used_featured_ads)/@Html.DisplayFor(modelItem => item.Limit_featured_ads)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
        }
    </tbody>
</table>
