@model IEnumerable<src.Models.Customer>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmation Register Email";
}

@await Html.PartialAsync("_Banner")
<!--content-->
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            @{
                if (ViewBag.Msg != null)
                {
                    <div class="error-blog">
                        <h1>@ViewBag.Msg</h1>
                    </div>
                }
                if (TempData.Peek("Message") != null)
                {
                    <div class="error-blog">
                        <h3>Message: @TempData.Peek("Message")</h3>
                    </div>
                }
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_verified)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_active)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_verified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_active)
                            </td>
                            <td>
                                @Html.ActionLink("Resend", "Resend", "Confirmation", new { username = item.Username }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->

