@model PaginatedList<src.Models.Customer>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmation Register Email";
}

@await Html.PartialAsync("_Banner")
<!--content-->
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Verified
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_verified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_active)
                            </td>
                            <td>
                                @Html.ActionLink("Resend", "Resend", "Confirmation", new { username = item.Username }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Html.PartialAsync("_PagingSection", Model)
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->
