@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Report";
}
<style>

    .panel {
        box-shadow: 0 2px 0 rgba(0,0,0,0.05);
        border-radius: 0;
        border: 0;
        margin-bottom: 24px;
    }

    .panel-dark.panel-colorful {
        background-color: #3b4146;
        border-color: #3b4146;
        color: #fff;
    }

    .panel-danger.panel-colorful {
        background-color: #f76c51;
        border-color: #f76c51;
        color: #fff;
    }

    .panel-primary.panel-colorful {
        background-color: #5fa2dd;
        border-color: #5fa2dd;
        color: #fff;
    }

    .panel-info.panel-colorful {
        background-color: #4ebcda;
        border-color: #4ebcda;
        color: #fff;
    }

    .panel-body {
        padding: 25px 20px;
    }

    .panel hr {
        border-color: rgba(0,0,0,0.1);
    }

    .mar-btm {
        margin-bottom: 15px;
    }

    h2, .h2 {
        font-size: 28px;
    }

    .small, small {
        font-size: 85%;
    }

    .text-sm {
        font-size: .9em;
    }

    .text-thin {
        font-weight: 300;
    }

    .text-semibold {
        font-weight: 600;
    }
</style>


@await Html.PartialAsync("_Banner")
<div class="content-top">
    <div class="col-md-12">
        <div style="background: #fff">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-dark panel-colorful">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Payments received today</p>
                                <p class="h2 text-thin">Total: $@ViewBag.countPayments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-danger panel-colorful">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Unapproved Properties</p>
                                <p class="h2 text-thin">Total: @ViewBag.inactiveProperties</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-primary panel-colorful">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Approved Properties</p>
                                <p class="h2 text-thin">Total: @ViewBag.activeProperties</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-info panel-colorful">
                            <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm">Categories</p>
                                <p class="h2 text-thin">Total: @ViewBag.countCategories</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-colorful" style="background-color: lightseagreen;">
                            <div class="panel-body text-center">
                                <p style="color: white;" class="text-uppercase mar-btm text-sm">Sellers</p>
                                <p style="color: white;" class="h2 text-thin">Total: @ViewBag.countSellers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel panel-colorful" style="background-color: lightsteelblue;">
                            <div class="panel-body text-center">
                                <p style="color: white;" class="text-uppercase mar-btm text-sm">Agents</p>
                                <p style="color: white;" class="h2 text-thin">Total: @ViewBag.countAgents</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>